{% extends 'base.html' %}
{% block content %}

<h1 class="page-title">Emergency Contacts</h1>

<div class="contact-grid">

<div class="contact-card">
<div class="emoji">🚑</div>
<h2>108</h2>
<p>Ambulance</p>
</div>

<div class="contact-card">
<div class="emoji">🔥</div>
<h2>101</h2>
<p>Fire Service</p>
</div>

<div class="contact-card">
<div class="emoji">👮</div>
<h2>100</h2>
<p>Police</p>
</div>

<div class="contact-card">
<div class="emoji">📞</div>
<h2>1070</h2>
<p>Disaster Helpline</p>
</div>

</div>

{% endblock %}