{% extends 'base.html' %}
{% block content %}

<section class="hero">
    <div class="overlay">
        <h1>Be Prepared Before Disaster Strikes</h1>
        <p>Smart Disaster Management System for Emergency Response and Community Safety.</p>

        <a href="/preparedness/" class="btn">Explore Safety Guide</a>
    </div>
</section>

<h2 class="title">Major Disasters</h2>

<div class="grid">

<div class="card">
    <div class="emoji">🌊</div>
    <h3>Flood</h3>
    <p>Heavy rainfall, overflowing rivers and urban flooding.</p>
</div>

<div class="card">
    <div class="emoji">🌍</div>
    <h3>Earthquake</h3>
    <p>Ground shaking and structural damage.</p>
</div>

<div class="card">
    <div class="emoji">🔥</div>
    <h3>Fire</h3>
    <p>Residential and industrial fire emergencies.</p>
</div>

<div class="card">
    <div class="emoji">🌪</div>
    <h3>Cyclone</h3>
    <p>Strong winds and coastal disasters.</p>
</div>

</div>

{% endblock %}